<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - Market</title>
    <partial name="_HeaderReference" />
</head>
<body>
    <partial name="_Header" />
    @RenderBody()
    <partial name="_Footer" />
    <partial name="_ScrollProgress" />
    <partial name="_FooterReference" />
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>